.border-title h2 {
    font-weight: 400;
}

.animate-btn > p {
    text-transform:none;
}

.disabled {
    pointer-events: none;
}

// .tab-seq-number {
//     background: #197EF4;
//     border-radius: 50%;
//     width: 24px;
//     height: 24px;
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     color: #FAFAFA;
// }
// .inactive-seq-num{
//     background: rgba(25, 126, 244, 0.3);
// }
// .inactive-tab-label{
//     color: #6E6E6E;
//     opacity: 0.5;
// }