<!------ Banner section start ------>
<div class="baner-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div class="banner-text">
                    <h1>Transformative Technologies</h1>
                    <p>dFarm’s patented data collection solutions utilize powerful tools such as IoT, Blockchain,
                        Artificial Intelligence and Big Data Analytics to link deep supply chain hyperdata and centrally
                        store in the Cloud.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="banner-vector banner-wave-view">
                </div>
            </div>
        </div>
    </div>
</div>
<!------ Banner section end ------>
<!------ Precision section start ------>
<div class="precision-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="border-title black-title">
                    <h2>How dFarm works</h2>
                </div>
            </div>
        </div>
        <div class="row bottom-space">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="block-wrapper black-text-wrapper">
                    <h3>Whole Chain Visibility</h3>
                    <p>We collect and digitally link distributed data from the whole ag value chain (e.g., from farm to
                        retail) into a hyperdata web to create a single view of the entire chain and the flow of all
                        produce within. </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="block-wrapper black-text-wrapper">
                    <h3>Real-Time Availability</h3>
                    <p>This data is dynamically recorded and stored in a secure, centralized vault in the AWS cloud
                        where it is immediately, and always, available. </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="block-wrapper black-text-wrapper">
                    <h3>Insights</h3>
                    <p>We utilize advanced data mining techniques to interpret these massive, aggregated data sets to
                        extract meaningful intelligence. </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="block-wrapper black-text-wrapper">
                    <h3>Solutions</h3>
                    <p>We apply this derived intelligence to increase whole value chain transparency and drive
                        efficiencies that address critical market pain points.</p>
                </div>
            </div>
        </div>
        <!-- <div class="row justify-content-md-center">
            <div class="border-title black-title graph-title">
                <h2>A Flexible, Intuitive User Experience</h2>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 dfarm-chart-area charts">
                <img style='width: inherit;' src="../../../../../assets/images/work_chart.png" alt="chart">
            </div>
        </div> -->
    </div>
</div>
<!------ Precision section end ------>

<!------ Storage section start ------>
<div class="aims-circle-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="border-title">
                    <h2>Advanced Technologies Power Our Advanced Capabilities</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="aims-content-wrapper"  [ngClass]="highlightVal == 'AC' ? 'highlight' : ''">
                    <h3>AWS Cloud</h3>
                    <p>We store data in the AWS cloud where it is replicated, secure, and immediately and always
                        available.</p>
                </div>
                <div class="aims-content-wrapper" [ngClass]="highlightVal == 'SAS' ? 'highlight' : ''">
                    <h3>Software as a Service</h3>
                    <p>Our SaaS model delivers lower costs, on-demand scalability and rapid deployment.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 technologies-section">
                <div class="aims-content-wrapper" [ngClass]="highlightVal == 'BC' ? 'highlight' : ''">
                    <h3>Blockchain</h3>
                    <p>We link all participants in a secure distributed ledger that facilitates tracking & traceability,
                        financial settlements, and much more.</p>
                </div>
                <div class="aims-content-wrapper" [ngClass]="highlightVal == 'AI' ? 'highlight' : ''">
                    <h3>Artificial Intelligence</h3>
                    <p>We apply AI to customize data reports and alerts, and read and display resources and trends.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="aims-content-wrapper" [ngClass]="highlightVal == 'IOT' ? 'highlight' : ''">
                    <h3>Internet of Things</h3>
                    <p>We collect real-time data from myriad sensors to provide continuous visibility of all produce
                        throughout the journey.</p>
                </div>
                <div class="aims-content-wrapper" [ngClass]="highlightVal == 'BDA' ? 'highlight' : ''">
                    <h3>Big Data Analytics</h3>
                    <p>We execute advanced mining and analytics of massive blockchain datasets for actionable insights
                        that inform better decision-making.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!------ Storage section end ------>

<!------Compliances start ------>
<div class="work-section data-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="border-title">
                    <h2>A Flexible, Intuitive User Experience</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <img class="img-fluid" src="../../../../../assets/images/group-product.png" alt="product">
            </div>
        </div>
    </div>
</div>