<div class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="footer-widget f-about">
                    <div class="footer-logo">
                        <img src="../../../../../assets/images/aspirine-logo.svg" alt="footer-logo">
                    </div>
                    <p>We are a name synonymously associated with quality and customer satisfaction; understanding the
                        customers' needs, we deliver all the necessary detailing tools & equipments needed for
                        professional detailing. Aspirine has revolutionized the car care industry by delivering superior
                        quality services, unmatched in India.</p>
                    <p class="copyright-text hidden-md">
                        © 2022. All Rights Reserved by ASPIRINE.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 order-2-md">
                <div class="footer-widget f-link">
                    <h5>Links</h5>
                    <ul>
                        <li><a (click)="navigateToPage()" [routerLink]="['home']">Home</a></li>
                        <li><a (click)="navigateToPage('supplyChainManagement')"
                                [routerLink]="['supply-chain-management']">About</a></li>
                        <li><a (click)="navigateToMarketPlace()">Services</a></li>
                        <li><a (click)="navigateToPage('precisionTracing')" [routerLink]="['precision-tracing']">Cost
                                Calculator</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 order-1-md">
                <div class="footer-widget">
                    <h5>Global Headquarters</h5>
                    <div class="f-address">
                        <img style='width:31px' src="../../../../../assets/images/address.png" alt="address">
                        <p>24155 Drake Road, Farmington Hills,
                            Michigan 48335 USA</p>
                    </div>
                    <div class="f-address">
                        <img src="../../../../../assets/images/call.png" alt="call">
                        <p>
                            <a href="tel:1 877 283 6627">1 877 283 6627</a>
                        </p>
                    </div>
                    <div class="f-office">
                        <h5>India Office</h5>
                        <div class="f-address">
                            <img style='width:31px' src="../../../../../assets/images/address.png" alt="address">
                            <p>ASPIRINE, Bangalore 560011, India</p>
                        </div>
                        <div class="f-address mb-0">
                            <img src="../../../../../assets/images/call.png" alt="call">
                            <p>
                                <a href="tel:919033671514">91 903 367 1514</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>