<div class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="footer-widget f-about">
                    <div class="footer-logo">
                        <img src="../../../../../assets/images/aspirine-logo.svg" alt="footer-logo">
                    </div>
                    <!-- <div class="footer-logo pos-rel">
                        <img class='award' src="../../../../../assets/images/award-artificial-intelligence.png" alt="footer-logo">
                        <img class='award mobile-view' src="../../../../../assets/images/award.png" alt="footer-logo">
                    </div> -->
                    <p class="copyright-text hidden-md">
                        © 2022. All Rights Reserved by ASPIRINE.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 order-3-md">
                <div class="footer-widget f-subscribe">
                    <!-- <h5>Newsletter</h5>
                    <input type="email" class="form-control" placeholder="Enter email address">
                    <button class="animate-btn">
                        <p>Subscribe</p>
                    </button> -->
                    <div class="f-social">
                        <h5>Social</h5>
                        <ul>
                          <li><a target="_blank" href="https://www.linkedin.com/company/dfarm-inc/mycompany/"><img style='width: 25px;' src="../../../../../assets/images/Linkedin.jpg" alt="LinkedIn"></a></li>
                          <li><a target="_blank" href="https://www.facebook.com/dFarminc"><img style='width: 25px;' src="../../../../../assets/images/Facebook.jpg" alt="Facebook"></a></li>
                        </ul>
                    </div>
                    <!-- <div class="footer-logo pos-rel">
                        <img class='award desktop-view' style="top: 65px;" src="../../../../../assets/images/award.png" alt="footer-logo">
                    </div> -->
                    <p class="copyright-text copyright-text-md hide-md">
                        © 2022. All Rights Reserved by Aspirine, Inc.
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 order-2-md">
                <div class="footer-widget f-link">
                    <h5>Links</h5>
                    <ul>
                        <li><a (click)="navigateToPage()" [routerLink]="['home']">Home</a></li>
                        <li><a (click)="navigateToPage('supplyChainManagement')" [routerLink]="['supply-chain-management']">About</a></li>
                        <li><a (click)="navigateToMarketPlace()">Services</a></li>
                        <li><a (click)="navigateToPage('precisionTracing')" [routerLink]="['precision-tracing']">Cost Calculator</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 order-1-md">
                <div class="footer-widget">
                    <h5>Global Headquarters</h5>
                    <div class="f-address">
                        <img style='width:31px' src="../../../../../assets/images/address.png" alt="address">
                        <p>24155 Drake Road, Farmington Hills,
                            Michigan 48335 USA</p>
                    </div>
                    <div class="f-address">
                        <img src="../../../../../assets/images/call.png" alt="call">
                        <p>
                            <a href="tel:1 877 283 6627">1 877 283 6627</a>
                        </p>
                    </div>
                    <div class="f-office">
                        <h5>India Office</h5>
                        <div class="f-address">
                            <img style='width:31px' src="../../../../../assets/images/address.png" alt="address">
                            <p>ASPIRINE, Bangalore 560011, India</p>
                        </div>
                        <div class="f-address mb-0">
                            <img src="../../../../../assets/images/call.png" alt="call">
                            <p>
                                <a href="tel:919033671514">91 903 367 1514</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
