.getaDemo{
    border-radius: 37px;
    width: 115px !important;
    padding: 0 0px;
    background: #ffd54f !important;
}

.getdemo_label {
    text-transform: none;
}

.nav-link {
    cursor: pointer
}