<!------ Banner section start ------>
<div class="baner-section baner-section-white about-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-text banner-text-black">
                    <h1>Making a Difference.</h1>
                    <p>"dFarm is passionate about transforming the Ag Supply Chain for the betterment of Farmers and
                        Consumers – and everyone in between.
                    </p>
                    <p>Our mission is to leverage technology to grow continuity, efficiency and profitability in the
                        agricultural supply chain globally</p>
                    <p>
                        Our vision is that by connecting the Ag ecosystem we can minimize waste and reduce world hunger,
                        while improving the livelihood of farmers and all other value-adding participants.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------ Banner section end ------>
<!------Black describe start ------>
<div class="work-section about-primary-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-describe">
                    <h1 style='color: #fff;font-weight: 500;margin-top: 40px;font-size: 30px;'>Fundamentally, We Are a
                        Trusted Data Company</h1>
                    <p style='margin-top:32px;'>
                        With access to data that is richer, reliable, always available and secure, powerful new
                        capabilities are
                        possible. We bring these to you.</p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Intelligence for Decision Support
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Food Safety and Regulatory Compliance
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Access to Global Markets
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Accurate Cost Valuations
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Automatic Settlement Payments
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Improved Grower Access to Working Capital
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Reduced Wastage & Spoilage
                    </p>
                    <p>
                        <img class='tickMark' src="../..s../../../assets/images/tickMarkWhite.png" alt="data-icon">
                        Elimination of Non-Productive Middlemen
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------Black describe end ------>

<!------Full background section start ------>
<div class="full-about-wrapper">
    <div class="container-fluid full-bgd-container">
        <div class="row w-100">
            <div class="txt-center">
                <div class="agriculture-text">
                    <h2 class='agriculture-innertxt'>Our team brings deep expertise in agriculture, technology and data
                        management</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!------Full background section end ------>

<!------Black describe start ------>
<!-- <div class="work-section about-primary-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="about-describe mb-4">
                    <p>These solutions collect whole chain data – data from each and every supply chain participant from
                        farm to retail – and utilize Blockchain to record, digitally integrate, and store this data in a
                        secure, centralized vault in the Cloud where it is immediately, and always, available. We use
                        Big Data Analytics to interpret these massive, aggregated data sets and Artificial Intelligence
                        to present and drive real-time predictive analytics. </p>
                </div>
                <div class="about-describe">
                    <p>These data and analytics enable growers, wholesalers, distributors and other participants to
                        source more efficiently, improve freshness and quality, reduce wastage and spoilage, perform
                        precision trace forward/back, access global wholesale markets, and control costs. </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!------Black describe end ------>

<!------Leadership section start ------>
<div class="leadership-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="border-title black-title">
                    <h2>Leadership</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5">
                <div class="leader-avatar mb-3">
                    <img [ngClass]="!selectedCollapaseCard[1] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Babu.jpg" alt="leader">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Venkatesh Babu Vadlamudi</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Founder, CEO/CTO
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank"
                                    href="https://www.linkedin.com/in/venkatesh-babu-vadlamudi-179b451b/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Venkatesh was born into an agricultural family and is a seasoned entrepreneur in Information
                        Technology, Biotechnology and Manufacturing.</p>

                    <div *ngIf='!selectedCollapaseCard[1]' class="link-btn" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample1" (click)='setSelectedCollapaseCard(1)'>
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample1">
                        <p>Information Technology: He has over 25 years of experience in IT from coding to software
                            product architecture. He has
                            developed service out-sourced technologies for healthcare industry to reduce the work stress
                            in delays and travel time
                            to increase efficiency.</p>
                        <p>Biotechnology: The state of art eco-friendly technology produces organic manure by aerobic
                            composting method of
                            bioconversion of biodegradable organic substances from municipal solid waste. The finished
                            product is enriched with
                            micro-nutrients and useful microbes. This project on one hand it will solve the
                            environmental problem due to recycling
                            and on other hand it will make available good organic manure. The project was funded by
                            Asian Development Bank, for
                            the first time in India on public/private participation basis.</p>
                        <p>Agriculture: As a staunch supporter of Minimum Viable Price (MVP) for farmers’ wellbeing, he
                            has developed a global
                            business model for farmers to sell their produce using MVP without any hassles. The new
                            AIMS™ application will support
                            agriculture globally using efficient supply chain management system.</p>
                        <p>He believes that such a model would help the consumers as well by providing access to better
                            quality produce at an
                            affordable price by monitoring compliances.</p>
                        <p>
                            Venkatesh received Bachelor of Commerce and an MBA from Bangalore University, India.
                        </p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[1]' class="link-btn" (click)='setSelectedCollapaseCard(1)'
                        class="link-btn" data-bs-toggle="collapse" data-bs-target="#collapseExample1">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <!-- <div class="link-btn">
                        <a href="#">View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7 order-xs-2">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Brinton Baker</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Vice President, Global Sales and Marketing
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/brintonbaker/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Brinton is a marketer and management consultant with over 20 years of experience in technology
                        marketing, product strategy and business transformation.</p>
                    <div *ngIf='!selectedCollapaseCard[2]' data-bs-toggle="collapse" data-bs-target="#collapseExample2"
                        class="link-btn" (click)='setSelectedCollapaseCard(2)'>
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample2">
                        <p>Brinton has led marketing teams at preeminent technology companies like Oracle and Apple as
                            well
                            as at smaller companies and start-ups, where he consistently built high-performance teams,
                            identified sustainable opportunity, clarified messaging, and grew revenue. Brinton is expert
                            at
                            crafting messaging, content and sales tools that translate complex technology concepts into
                            business benefits for prospective customers and has led over 10 successful global
                            introductions
                            (concept to definition to launch) of sophisticated technology products.</p>
                        <p>Brinton received a B.A. in Political Science and Philosophy from Tufts University, and an
                            M.B.A.
                            from the Harvard Business School.</p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[2]' class="link-btn" (click)='setSelectedCollapaseCard(2)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample2">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5 order-xs-1">
                <div class="leader-avatar text-end">
                    <img [ngClass]="!selectedCollapaseCard[2] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Brinton.png" alt="leader">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5">
                <div class="leader-avatar mb-3">
                    <img [ngClass]="!selectedCollapaseCard[3] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Vijay.jpg" alt="leader">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Vijay Bhaskar Noti</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Director of Business Development
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/vijay-bhaskar-noti-a60a95163/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Vijay comes from an agricultural family. A techno-commercial professional with 13+ years of
                        experience in agriculture industry.</p>
                    <div *ngIf='!selectedCollapaseCard[3]' class="link-btn" (click)='setSelectedCollapaseCard(3)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample3">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample3">
                        <p>He also has expertise in agribusiness, food processing, rural banking & financial
                            services,
                            agriculture commodities, supply chain, warehousing & logistics, trading, sales and marketing
                            of
                            agri-inputs, extensive knowledge of agri-value chain and infra structure development.</p>
                        <p>Vijay is working to identifying and on-boarding suppliers with compliances, consistency in
                            quality and supplies to the global marketplace.</p>
                        <p>He worked at various companies like DuPont, KPMG, IL&FS, DCB Bank and NBHC.</p>
                        <p>He received a B.S. in Agriculture and MBA in Agri-business Management in India.</p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[3]' class="link-btn" (click)='setSelectedCollapaseCard(3)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample3">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7 order-xs-2">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Bhaskar Vadlamudi</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Director of Marketing
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/bhaskar-vadlamudi-d-m/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Bhaskar has been involved with dFarm since 2014 on produce data analytics, forecasting, supplies
                        and demand for various produces during business research.</p>
                    <div *ngIf='!selectedCollapaseCard[4]' class="link-btn" (click)='setSelectedCollapaseCard(4)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample4">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample4">
                        <p>He has also been involved with the
                            technical team on technology analysis, swim lane process development and complete
                            understanding
                            of the workflow of AIMS. He is playing key roll-on project beta testing. Also, he is
                            currently
                            providing technical marketing support to marketing team and consultants.</p>
                        <p>Bhaskar has a B.S. in Human Biology with minors in Health Promotion and Bioethics from
                            Michigan
                            State University.</p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[4]' class="link-btn" (click)='setSelectedCollapaseCard(4)'
                        class="link-btn" data-bs-toggle="collapse" data-bs-target="#collapseExample4">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5 order-xs-1">
                <div class="leader-avatar text-end">
                    <img [ngClass]="!selectedCollapaseCard[4] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Bhaskar.jpg" alt="leader">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5">
                <div class="leader-avatar mb-3">
                    <img [ngClass]="!selectedCollapaseCard[5] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Prasanna_bk.jpeg" alt="leader">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Prasanna Krishna Kolla</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Product Development Architect
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/prasannakrishna/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Prasanna is a front-end developer lead. He designs and develops user interface for both Mobile
                        and Web applications. He has completed M.S. in Computer Science at Texas A&M University
                        Kingsville.</p>
                    <div *ngIf='!selectedCollapaseCard[5]' class="link-btn" (click)='setSelectedCollapaseCard(5)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample5">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample5">
                        <p>He has six years of IT Industry experience - in design, development, implementation of
                            various web application projects using Angular, JavaScript, PHP, SQL and Ionic (mobile)
                            frameworks. Has great experience in all the phases of Software development life cycle,
                            starting from analysis, design, coding, unit testing and solution testing. He shall be
                            leading the UI team at dFarm® for AIMS™ project and his major roles would be:</p>
                        <ol>
                            <li>i. A complete understanding of the workflow of the project.</li>
                            <li>ii. Designing user-friendly web and mobile user interfaces</li>
                            <li>iii. Increasing the performance of the application by optimizing the code.</li>
                            <li>iv. Running several test cases to eliminate bugs.</li>

                        </ol>
                    </div>
                </div>
                <div *ngIf='selectedCollapaseCard[5]' (click)='setSelectedCollapaseCard(5)' class="link-btn"
                    data-bs-toggle="collapse" data-bs-target="#collapseExample5">
                    <a>Show Less</a>
                    <img src="../../../../../assets/images/arrow.png" alt="arrow">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7 order-xs-2">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Manjunath Malige</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Product Implementation Architect
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/manjunath-mg-9595a842/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Manjunath was born into an agricultural family who can understand the pain and the problems that
                        farmers face in daily life.</p>
                    <div *ngIf='!selectedCollapaseCard[6]' class="link-btn" (click)='setSelectedCollapaseCard(6)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample6">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample6">
                        <p>He has over 13 years of experience in Information Technology: from coding to software product
                            architecture. He also brings experience form banking and securities domain.</p>
                        <p>He has worked at Wipro technologies for 10 years. He is currently working on AIMS application
                            and
                            explaining how important the blockchain and AIMS application is to the agricultural
                            industry.
                        </p>
                        <p>Manjunath received Bachelor of Engineering from Rashtreeya Vidyalaya College of Engineering,
                            Bangalore, India.</p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[6]' class="link-btn" (click)='setSelectedCollapaseCard(6)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample6">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5 order-xs-1">
                <div class="leader-avatar text-end">
                    <img [ngClass]="!selectedCollapaseCard[6] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Manju Bio.jpg" alt="leader">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5">
                <div class="leader-avatar mb-3">
                    <img [ngClass]="!selectedCollapaseCard[7] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/carmen_rottenberg.jpg" alt="leader">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Carmen Rottenberg</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Advisor
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/carmen-rottenberg-2440784/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Carmen held several leadership roles at USDA, including Acting Deputy Under Secretary for the
                        Office of the Food Safety from August 2017 through January 2019, and FSIS Administrator from May
                        2018 to March 2020.</p>
                    <div *ngIf='!selectedCollapaseCard[7]' class="link-btn" (click)='setSelectedCollapaseCard(7)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample7">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample7">
                        <p>From April 2016 to August 2017, Carmen served as FSIS Deputy Administrator. In those
                            leadership roles, Carmen executed a budget of over $1 billion, prioritizing resources and
                            resolving disputes, advancing the Agency’s vision and goals, and leading innovative
                            solutions to challenges in FSIS</p>
                        <p>Carmen holds a Bachelor of Arts Degree in Political Science and Philosophy form Hope College
                            in
                            Holland, Michigan, and a Juris Doctor Degree from American University’s Washington College
                            of
                            Law. </p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[7]' class="link-btn" (click)='setSelectedCollapaseCard(7)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample7">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="border-title black-title mt-1-sm">
                </div>
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-xl-7 col-lg-7 col-md-6 col-sm-7 order-xs-2">
                <div class="leader-details">
                    <h3 style='border: none;margin-bottom: 0px;'>Dr. Prasad Rao Pasam</h3><br>
                    <h3 style='width:100%;font-size: 18px;'>Advisor
                        <ul class="inline-social-wrapper">
                            <li><a target="_blank" href="https://www.linkedin.com/in/prasad-pasam-1015aa1a4/"><img
                                        class='linkedIn' src="../../../../../assets/images/Linkedin.jpg"
                                        alt="LinkedIn"></a></li>
                        </ul>
                    </h3>
                    <p>Dr. Pasam is the Chairman and Managing Director for Evergreen Energy Enterprises India Private
                        Limited.</p>
                    <div *ngIf='!selectedCollapaseCard[8]' class="link-btn" (click)='setSelectedCollapaseCard(8)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample8">
                        <a>View More</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                    <div class="collapse" id="collapseExample8">
                        <p>He is also the Founder of Diplomat Trade Centre Limited (DTCL), an innovative concept to
                            bring 158 countries respective trade offices under one roof at Bengaluru International
                            Airport City; Chairman for Bairisons Agro India Private Limited.</p>
                        <p>He is an advisor for Pre-Unique India Private Limited; Apeiron Healthcare Private Limited;
                            KADA
                            (Kemubu Agriculture Development Authority) Ministry of Agriculture, Government of Malaysia;
                            GCOT-Gramodaya Chamber of Commerce and Technology, GMIT, Davanagere and Paavai Group of
                            Institutions.</p>
                        <p>Dr. Prasad Pasam obtained his Ph.D in Economics from Osaka University ,Japan; MBA and B.Sc
                            from
                            Sri Venkateswara University.</p>
                    </div>
                    <div *ngIf='selectedCollapaseCard[8]' class="link-btn" (click)='setSelectedCollapaseCard(8)'
                        data-bs-toggle="collapse" data-bs-target="#collapseExample8">
                        <a>Show Less</a>
                        <img src="../../../../../assets/images/arrow.png" alt="arrow">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-6 col-sm-5 order-xs-1">
                <div class="leader-avatar text-end">
                    <img [ngClass]="!selectedCollapaseCard[8] ? 'smallImage' : 'largeImage'"
                        src="../../../../../assets/images/leadership/Prasad.JPG" alt="leader">
                </div>
            </div>
        </div>
    </div>
</div>
<!------Leadership section end ------>